@import url('../variables.css');

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bag:before {
  content: "\e900";
  color: var(--icons-dark);
}
.icon-compare:before {
  content: "\e901";
  color: var(--icons-compare);
}
.icon-fave:before {
  content: "\e902";
  color: var(--icons-dark);
}
.icon-fave-solid:before {
  content: "\e903";
}
.icon-menu-bag:before {
  content: "\e904";
  color: var(--icons-menu);
}
.icon-profile:before {
  content: "\e905";
  color: var(--icons-menu);
}
.icon-search:before {
  content: "\e906";
  color: var(--icons-search);
}
.icon-star:before {
  content: "\e907";
  color: #f6ad55;
}
/* Hover effect */
.icon-menu-bag:hover::before,
.icon-profile:hover::before,
.icon-search:hover::before {
color: var(--blue)
}
.icon-fave:hover::before{
color: var(--red);
}
.icon-fave-solid:hover::before,
.icon-bag:hover::before{
  color: var(--blue);
  }
  .icon-compare:hover::before {
    color: var(--yellow)
  }