.filters-header {
    font-family: "SF Pro Display";
    background-color: var(--blue);
    justify-content: space-between;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.filters-header .btn.btn-outline-light {
    padding: 0.5rem 1.5rem;
    font-size: 1.2rem;
}

.filters-header .btn.btn-outline-light:hover {
    color: var(--blue);
}

.filters-header h4 {
    align-self: center;
    margin-left: 1.5rem;
    font-size: 1rem;
    color: var(--white);
    margin-bottom: 0;
    font-weight: var(--bolder);
}

.filters .accordion-button {
    background-color: var(--light-gray);
    font-size: 1.2rem;
    z-index: 5;
    padding-left: 3rem;
}

.filters .accordion-button,
.filters .accordion-collapse {
    font-family: "SF Pro Display";
    border: 1px solid var(--border-light);
}

.filters .accordion-collapse {
    overflow: hidden;
}

.price-range {
    color: var(--blue);
}

.colors input[type="checkbox"] {
    display: none;
}

.colors label {
    display: block;
    border-radius: 50%;
}

.colors label[for="black"] {
    background-color: black;
}

.colors label[for="red"] {
    background-color: var(--red);
}

.colors label[for="yellow"] {
    background-color: var(--light-yellow);
}

.colors label[for="green"] {
    background-color: var(--green);
}

.colors label[for="orange"] {
    background-color: var(--orange);
}

.colors label[for="white"] {
    background-color: white;
    border: 1px solid var(--border-light)
}

.colors label[for="gray"] {
    background-color: var(--gray);
}

.colors label[for="blue"] {
    background-color: var(--blue);
}

.picked-colors {
    height: 20px;
    width: 20px;
}

.circles label {
    position: relative;
    width: 100%;
    height: auto;
    padding-top: 100%;
    margin: 0 5px;
}