@import url('../variables.css');

.footer {
    border-top: 1px solid var(--border-light);
}

.footer-title {
    background-color: var(--blue);
    color: var(--white);
    text-align: center;
    padding: 1rem 0;
    border-top-right-radius: 30px;
}

.footer-title h4 {
    font-size: 1rem;
}

.footer-brands {
    flex-basis: 20%;
    min-width: 20%;
}

.footer-brands img {
    display: block;
    max-width: 100%;
}

.carousel.slide,
.carousel-inner,
.carousel-item,
.wrapper-footer-brands,
.items-holder {
    height: 100%;
}

.wrapper-footer-brands {
    align-items: center;
    overflow-x: hidden;
}

.carousel-control-next {
    right: -14% !important;
}

.carousel-control-prev {
    left: -14% !important;
}

.arrow {
    width: 30px;
    height: 30px;
    border: solid black;
    position: relative;
    border-radius: 50%;
    border-width: 1px;
}

.arrow:before {
    content: "";
    border: solid black;
    border-width: 0 2px 2px 0;
    width: 0px;
    height: 0px;
    padding: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
}

.arrow-right:before {
    transform: translate(-50%, -50%) rotate(-45deg);
    -webkit-transform: traslate(-50%, 50%) rotate(-45deg);
}

.arrow-left:before {
    transform: translate(-50%, -50%) rotate(135deg);
    -webkit-transform: translate(-50%, -50%) rotate(135deg);
}

@media only screen and (max-width: 992px) {
    .footer-carousel {
        height: 80px;
    }

    .arrow {
        width: 18px;
        height: 18px;
        border: none;
    }

    .footer {
        border-top: none;
    }
}