 @import url('../variables.css');

 .range-container {
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 3rem 0;
 }

 .slider {
   position: relative;
   width: 260px;
 }

 .slider__track,
 .slider__range,
 .slider__left-value,
 .slider__right-value {
   position: absolute;
 }

 .slider__track,
 .slider__range {
   border-radius: 3px;
   height: 5px;
 }

 .slider__track {
   background-color: var(--light-gray);
   width: 100%;
   z-index: 1;
 }

 .slider__range {
   background-color: var(--text-dark);
   z-index: 2;
 }

 .slider__left-value,
 .slider__right-value {
   color: var(--text-dark);
   font-size: 1px;
   margin-top: 20px;
   display: none;
 }

 .slider__left-value {
   left: 6px;
 }

 .slider__right-value {
   right: -4px;
 }

 /* Removing the default appearance */
 .thumb,
 .thumb::-webkit-slider-thumb {
   -webkit-appearance: none;
   -webkit-tap-highlight-color: transparent;
 }

 .thumb {
   pointer-events: none;
   position: absolute;
   height: 0;
   width: 260px;
   outline: none;
 }

 .accordion-collapse .thumb {
   display: none;
 }

 .accordion-collapse.show .thumb {
   display: inline;
 }

 .thumb--left {
   z-index: 3;
 }

 .thumb--right {
   z-index: 4;
 }

 /* For Chrome browsers */
 .thumb::-webkit-slider-thumb {
   background-color: var(--text-dark);
   border: none;
   border-radius: 50%;
   cursor: pointer;
   height: 28px;
   width: 28px;
   margin-top: 4px;
   pointer-events: all;
   position: relative;
 }

 /* For Firefox browsers */
 .thumb::-moz-range-thumb {
   background-color: var(--text-dark);
   border: none;
   border-radius: 50%;
   cursor: pointer;
   height: 28px;
   width: 28px;
   margin-top: 4px;
   pointer-events: all;
   position: relative;
 }