@import url('../variables.css');

.navbar {
    margin-left: 5rem;
    margin-right: 5rem;
}

.navbar-nav {
    min-width: 100%;
    justify-content: flex-end;
}

/* Brand logo */
.logo {
    font-weight: var(--bolder);
    font-size: 20px !important;
}

/*Search Input*/
.search-bar {
    margin: 0 5rem;
    border-radius: 50px;
    border: 1px solid var(--border-light);
    padding: 6px;
    max-width: 1003px;
}

.search-bar input {
    border: none;
}

.search-bar input:focus {
    border: none;
    box-shadow: none;
}

#basic-addon2 {
    background-color: transparent;
    border: none;
}

/* Menu items */
.ddLanguages .Dropdown-control {
    border: none;
    color: var(--icons-menu);
    padding: 8px 26px 8px 10px;
    font-size: 14px;
}

.ddLanguages .Dropdown-menu {
    width: fit-content;
    border: none;
}

.ddLanguages .Dropdown-option {
    text-align: center;
    border: 1px solid var(--border-light);
    font-size: 14px;
}

.ddLanguages .Dropdown-arrow {
    border-width: 4px 4px 0;
    top: 16px;
}

.navbar .navbar-nav .nav-link i {
    font-size: 20px;
}

@media only screen and (max-width: 992px) {
    .navbar {
        margin-left: 1em;
        margin-right: 1em;
        position: relative;
    }

    .menu-items {
        position: absolute;
        top: 0;
        right: 0;
    }

    .search-bar {
        margin: 0;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .ddLanguages {
        width: 70px;
    }
}