.card {
    border-radius: 20px !important;
    font-family: "SF Pro Display";
    transition: all .3s ease-out;
}

.card:hover {
    border: 1px solid var(--gray);
    box-shadow: 10px 11px 25px -16px rgba(0, 0, 0, 0.34);
    -webkit-box-shadow: 10px 11px 25px -16px rgba(0, 0, 0, 0.34);
    -moz-box-shadow: 10px 11px 25px -16px rgba(0, 0, 0, 0.34);
}

.card-title {
    font-weight: var(--bolder);
    margin-bottom: 1rem;
    min-height: 2.9rem;
}

.raiting {
    color: var(--yellow);
}

.reviews,
.properties {
    color: var(--text-light);
}

.properties {
    margin: 1rem 0 1.5rem;
}

.price {
    font-weight: var(--bolder);
    color: var(--text-dark)
}

.actions-container {
    padding-right: 0 !important;
    padding-left: 2rem;
}

.actions {
    align-self: flex-end;
    text-align: right;
}

.actions .icon {
    font-size: 24px;
}

.actions .icon:not(.icon-bag) {
    margin: 20px 0;
}

.icon-star {
    font-size: 14px;
}