@import url('./icons/icons.css');

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.font-bold {
  font-family: "SF Pro Display Bold";
}

@media only screen and (max-width: 992px) {
  html {
    font-size: 14px;
  }
}