@font-face {
  font-family: "SF Pro Display";
  src: local("SFProDisplay"),
   url("./fonts/SFProDisplay/SFPRODISPLAYREGULAR.OTF") format("opentype");
  }
  @font-face {
    font-family: "SF Pro Display Bold";
    src: local("SFProDisplayBold"),
     url("./fonts/SFProDisplay/SFPRODISPLAYBOLD.OTF") format("opentype");
    }
    @font-face {
      font-family: 'icomoon';
      src: url('./icons/icomoon.ttf') format('truetype');
      font-weight: normal;
      font-style: normal;
      font-display: block;
    }
body {
  margin: 0;
  font-family:"SF Pro Display";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
