/* GENERAL THEME */
/* ______________________ */
/* Colors */
:root {
  /* Colors */
  --white: #fff;
  --black: #000;
  --text-dark: #1A202C;
  --text-light: #969696;
  --border-light: #E2E2E2;
  --starred: #F6AD55;
  --starred-text: #A0AEC0;
  --icons-dark: #241B55;
  --icons-menu: #4A5568;
  --icons-compare: #7F9CF5;
  --icons-search: #3C366B;
  --yellow: #FDCD0B;
  --blue: #0065DB;
  --light-gray: #FAF8F8;
  --red: #EF3030;
  --orange: #FF8D3B;
  --green: #5CEA95;
  --light-yellow: #FFF73D;
  --gray: #C3C3C3;
  /* Font styles */
  --bolder: 700;
  --bold: 600;
  --regular: 400;
  --light: 300;
}